{% extends 'blogperros/base.html' %}

   {% block content %}

   <div>
     <img src="{{post.foto.url}}" id="destacada">
       <h1>{{ post.nombre }}</h1>

       <h4>{{ post.apellido }}</h4>
       <h4>{{ post.dpi|linebreaksbr }}</h4>

       {%for det in perros%}
       <h4>{{ det.perro.nombre }}</h4>
       {%endfor%}
       <a class="btn btn-default" href="{% url 'blogperros.views.editar_persona' pk=post.pk %}"><span class="glyphicon glyphicon-pencil">Editar</span></a>
       <br>
   </div>
   {% endblock %}
