
{% extends 'blogperros/base.html' %}
{% block content %}

  {% for post in posts %}
  <!-- Item Project and Filter Name -->

              <li class="item-thumbs span3 design">
                  <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                  <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="{{post.nombre}}" href="{% url 'blogperros.views.detalle_perro' pk=post.pk %}">
                      <span class="overlay-img"></span>
                        <span class="overlay-img-thumb font-icon-plus"></span>
                    </a>
                    <!-- Thumb Image and Description -->
                    <img src="{{post.imagen.url}}" alt="Lorem">
                </li>
           <!-- End Item Project -->
  {% endfor %}

{% endblock content %}
